{% extends "base.html" %}

{% if result %}
    {% block header %}
        <div class="row hidden-xs">
            <div class="col-sm-4 col-md-3">
                <img src="{{ image }}" width="100%" class="img-responsive" alt="lok">
            </div>
            <div class="col-sm-8 col-md-9 pull-down">
                <h1>{{ name }}</h1>
                <i><p><small>{{ artist }}</small></p></i>
                <div class="btn-group">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus-circle fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/album/queue/{{ uri }}">QUEUE</a></li>
                        <li><a href="/album/next/{{ uri }}">PLAY NEXT</a></li>
                        <li><a href="/album/now/{{ uri }}">PLAY NOW</a></li>
                        <li><a href="/album/replace/{{ uri }}">REPLACE QUEUE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    {% if result %}
        {% include "display_tracks.html" %}
    {% else %}
        <p>No album found</p>
    {% endif %}
{% endblock %}