<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Navn</th>
                <th>Artist</th>
                <th>Tid</th>
            </tr>
        </thead>
        {% for track in tracks %}
        <tr>
            <td>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-plus fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" onclick="silet_http_get('/queue/{{ track['uri'] }}');">QUEUE</a></li>
                        <li><a href="javascript:void(0)" onclick="silet_http_get('/next/{{ track['uri'] }}');">PLAY NEXT</a></li>
                        <li><a href="javascript:void(0)" onclick="silet_http_get('/now/{{ track['uri'] }}');">PLAY NOW</a></li>
                        <li><a href="javascript:void(0)" onclick="silet_http_get('/replace/{{ track['uri'] }}');">REPLACE QUEUE</a></li>
                    </ul>
                </div>
            </td>
            <td>{{ track['name'] }}</td>
            <td>{{ track['artist'] }}</td>
            <td>{{ track['duration'] }}</td>
        </tr>
        {% endfor %}
        <tr><td><br /></td><td><br /><br /><br /><br /><br /><br /><br /><br /><br /></td><td></td><td></td></tr>
    </table>
</div>