{% extends "base.html" %}

{% block javascript %}
    $(function() {
        $( "#sortable" ).sortable({
            start: function(event, ui) {
                ui.item.startPos = ui.item.index();
            },
            update: function( event, ui ) {
                silet_http_get('/move/'+ui.item.startPos+'/'+ui.item.index());
            },
            delay: 150,
            handle: "#test"
        });
    });
    function currentSong() {
         $.getJSON('/now_playing', function(data){
                current_playing = data.index+1;
                $( '.queue tr:not(tr:nth-child(' + current_playing + '))' ).css("background", "white");
                $( '.queue tr:nth-child(' + current_playing + ')' ).css("background", "palegreen");
            });
    }
    window.setInterval(function(){
            currentSong()
        }, 1000);
    $(function(){
        currentSong();
    })
{% endblock %}

{% block header %}
    <h1>PYONOS</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% include "view_queue.html" %}
        </div>
        <div class="col-md-4 table-responsive">
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Personer</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td><a href="/user/{{ user['uri'] }}">{{ user['name'] }}</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}