{% extends "base.html" %}

{% block javascript %}
    $(function() {
        $( "#sortable" ).sortable({
            start: function(event, ui) {
                ui.item.startPos = ui.item.index();
            },
            update: function( event, ui ) {
                silet_http_get('/move/'+ui.item.startPos+'/'+ui.item.index());
            },
            delay: 150,
            handle: "#test"
        });

        $('tbody.queue tr').each(function(index){
            var play_index = "silet_http_get('/play/index/" + index + "');";
            var delete_index = "silet_http_get('/queue/remove/index/" + index + "');";

            var play_click = new Function(play_index);
            var delete_click = new Function(delete_index);

            $(this).find( 'td:eq(2) a' ).attr('onclick', '').click(play_click);
            $(this).find( 'td:eq(3) a' ).attr('onclick', '').click(delete_click);
        });
    });
    $(function(){
        if(typeof(EventSource) !== "undefined") {
            var now_playing = new EventSource("/stream/now_playing");
            var queue_changed = new EventSource("/stream/queue_changed");

            now_playing.onmessage = function(event) {
                playing = parseInt(event.data) + 1;
                $( '.queue tr:not(tr:nth-child(' + playing + '))' ).css("background", "white");
                $( '.queue tr:nth-child(' + playing + ')' ).css("background", "palegreen");
            }
            queue_changed.onmessage = function(event) {
                location.reload();
            }
        } else {
            alert('not supported browser');
        }
    })
{% endblock %}

{% block header %}
    <h1>PYONOS</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% include "view_queue.html" %}
        </div>
        <div class="col-md-4 table-responsive">
            <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Personer</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td><a href="/user/{{ user['uri'] }}">{{ user['name'] }}</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}