{% extends "base.html" %}


{% block header %}
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div style="margin-top: 1em" class="col-md-12">
                <img style="width: 50%;" src="{{ image[0] }}" alt="..."><img style="width: 50%;" src="{{ image[1] }}" alt="...">
            </div>
            <div style="margin-bottom: 1em" class="col-md-12">
                <img style="width: 50%;" src="{{ image[2] }}" alt="..."><img style="width: 50%;" src="{{ image[3] }}" alt="...">
            </div>
        </div>
        <div class="col-sm-8 col-md-9 hidden-xs">
            <h1>{{ name }}</h1>
            <i><p><small>{{ owner }}</small></p></i>
            <div class="btn-group">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/queue/{{ uri }}');">QUEUE</a></li>
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/next/{{ uri }}');">PLAY NEXT</a></li>
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/now/{{ uri }}');">PLAY NOW</a></li>
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/replace/{{ uri }}');">REPLACE QUEUE</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 visible-xs" style="text-align: center">
            <h1>{{ name }}</h1>
            <i><p><small>{{ owner }}</small></p></i>
            <div class="btn-group">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/queue/{{ uri }}');">QUEUE</a></li>
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/next/{{ uri }}');">PLAY NEXT</a></li>
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/now/{{ uri }}');">PLAY NOW</a></li>
                    <li><a href="javascript:void(0)" onclick="silet_http_get('/playlist/replace/{{ uri }}');">REPLACE QUEUE</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- For desktop/tablet users -->
    <div class="hidden-xs">
        {% include "display_tracks_desktop.html" %}
    </div>
    <!-- For mobile users -->
    <div class="visible-xs">
        {% include "display_tracks_mobile.html" %}
    </div>
{% endblock %}