{% extends "base.html" %}

{% block javascript %}
    $(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
    });
{% endblock %}

{% block header %}
    <h1>QUEUE</h1>
{% endblock %}
{% block content %}
    <ul class="list-group" id="sortable">
    {% for track in tracks %}
        <li class="list-group-item">{{ track['name'] }} - {{ track['artist'] }} | <a href="javascript:void(0)" onclick="silet_http_get('/queue/remove/{{ track['uri'] }}');location.reload();"><i class="fa fa-remove fa-2x"></i></a></li>
    {% endfor %}
    </ul>
{% endblock %}