{% extends "base.html" %}
{% block header %}
    <h1>QUEUE</h1>
{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Artist</th>
                    <th>Fjern</th>
                </tr>
            </thead>
            {% for track in tracks %}
            <tr>
                <td>{{ track['name'] }}</td>
                <td>{{ track['artist'] }}</td>
                <td><a href="javascript:void(0)" onclick="silet_http_get('/queue/remove/{{ track['uri'] }}');location.reload();"><i class="fa fa-remove fa-2x"></i></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}